@import '../../styles/constants.scss';

.button {
    background: transparent;
    border: 4px solid $white;
    color: $white;
    font-size: 2rem;
    line-height: 1;
    margin: $margin-default;
}
