@import '../../styles/constants.scss';

.modal-backdrop {
    height: 100vh;
    width: 100%;
    // alignment properties
    align-items: center;
    display: flex;
    justify-content: center;
    .modal {
        background: $background-blue;
        border: $border-size double $white;
        border-radius: $border-radius;
        color: $white;
        height: fit-content;
        margin: 2vh;
        max-height: 75vh;
        overflow: scroll;
        visibility: visible;
        width: 90%;
        z-index: 1;
        // alignment properties
        display: flex;
        flex-direction: column;
        &.off {
            opacity: 0;
            visibility: hidden;
        }
        .modal-header {
            // background: $background-blue-brighter;
            margin-left: auto;
            width: 100%;
            // alignment properties
            align-items: center;
            display: flex;
            justify-content: space-between;
            text-align: center;
            .modal-title {
                padding-left: $margin-default;
            }
            .modal-actions {
                align-items: center;
                display: flex;
                right: 0;
            }
        }
        .modal-content {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0 $margin-default $margin-default $margin-default;
        }
    }
}
